* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 10px 10%;
    transition: 0.2s;
    box-shadow: -3px 3px 25px white;
    background-color: black;
}

.logo {
    font-size: 40px;
    color: var(--text-color);
    font-weight: 600;
    display: flex;
    /* margin-top: 5px; */
    align-items: center;
    margin-left: 30px;
    color: white;
}

.logo:hover {
    color: rgb(117, 2, 166);
}

.navbar {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar a {
    font-size: 20px;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
    display: flex;
    text-decoration: none;
    /* margin-top: 10px; */
    color: white;
}

.navbar a:hover {
    color: blueviolet;
}

.icons {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: black;
    align-items: center;
    text-align: center;
}